extends layout

block content
  head
    title Confirm Remove Friend
    link(rel="stylesheet", href="/stylesheets/friends_list.css")

  .confirmationContainer
    h2 Are you sure you want to remove #{friend.username} from your friends list?

  .buttons
    // Form to handle friend removal with the DELETE method
    form(action=`/api/friends/${friend._id}?_method=DELETE`, method="POST")
      button(type="submit") Yes, Remove Friend

    // Link to go back to the friends list
    a(href="/api/friends") No, Go Back
