extends layout

block content
  h1 Forgot Password
  if errors
    ul
      each error in errors
        li(style="color: red;")= error.msg
  if message
    p(style="color: green;")= message
  form(method="POST", action="/api/auth/forgot-password")
    .form-group
      label(for="email") Email:
      input.form-control(type="email" id="email" name="email" required)
    button.btn.btn-primary(type="submit") Submit
