extends layout

block content
  h1 Reset Password
  if errors
    ul
      each error in errors
        li(style="color: red;")= error.msg
  form(method="POST", action="/api/auth/reset-password")
    input(type="hidden", name="token", value=token)
    .form-group
      label New Password:
      input.form-control(type="password", name="newPassword", required)
    button.btn.btn-primary(type="submit") Reset Password
