.register {
    display: flex;
    width: 400px;
    height: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
    margin-inline: 35%;
}

.register h1 {
    text-align: center;
}

.registerForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form-group {
    width: 100%;
    margin-bottom: 10px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.btn-primary {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.btn-primary:hover {
    background-color: #0056b3;
}

p {
    text-align: center;
    margin-top: 10px;
}

.checkmark {
    color: green;
    margin-left: 5px;
}