nav
  ul
    li
      a(href="/") Home
    li
      a(href="/api/auth/register") Register
    li
      a(href="/api/auth/login") Login
    li
      a(href="/") Goals 
    li 
      a(href="/api/friends") Friends
    
    
    
