nav

  ul
    li
      a(href="/") Home
    li
      a(href="/api/auth/register") Register
    li
      a(href="/api/auth/login") Login
    li.dropdown
      a(href="#") Goals &#11167;
      ul.dropdown-menu 
        li
          a(href="/api/goals") View Goals
        li
          a(href="/api/goals/add") Add Goal
    li
      a(href="/api/friends") View Friends

    ul
        li
            a(href="/") Home
        li
            a(href="/api/auth/register") Register
        li
            a(href="/api/auth/login") Login
        li.dropdown
            a(href="#") Goals &#11167
            ul.dropdown-menu 
                li
                    a(href="/api/goals") View Goals
                li
                    a(href="/api/goals/add") Add Goal

